<mat-card>
  <mat-toolbar color="primary"> Form User </mat-toolbar>

  <form [formGroup]="form" class="mat-elevation-z8">
    <mat-card-content >
      <div class="form__row">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
      </div>
      <div class="form__row">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>
      </div>
      <div class="form__row">
        <mat-form-field appearance="fill">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Male"> Male </mat-option>
            <mat-option value="Female"> Female </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option
              *ngFor="let option of countyOptions"
              [value]="option.value"
              ><span class="country__options">
                <sfc-flag-icon [country]="option.value"></sfc-flag-icon>
                {{ option.label }}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
      <button mat-raised-button (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
