<mat-table [dataSource]="_dataSource">
  <ng-container
    *ngFor="let columnName of displayedColumns"
    [matColumnDef]="columnName"
  >
    <mat-header-cell *matHeaderCellDef>
      <ng-container
        [ngTemplateOutlet]="headers || headersDefault"
        [ngTemplateOutletContext]="{ $implicit: columnName }"
      ></ng-container>
    </mat-header-cell>
    <mat-cell *matCellDef="let cell">
      <ng-container
        [ngTemplateOutlet]="cells || cellsDefault"
        [ngTemplateOutletContext]="{ $implicit: cell, columnName }"
      ></ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<ng-template #headersDefault let-columnName>
  <ng-container [ngSwitch]="columnName">
    <ng-container>{{ columnName }}</ng-container>
  </ng-container>
</ng-template>

<ng-template #cellsDefault let-cell let-columnName="columnName">
  <ng-container [ngSwitch]="columnName">
    <ng-container *ngSwitchCase="TableDataProps.SELECT_ID">
      <mat-checkbox (change)="_selectIdChanged($event, cell)"> </mat-checkbox>
    </ng-container>

    <ng-container *ngSwitchDefault>{{ cell[columnName] }}</ng-container>
  </ng-container>
</ng-template>
